# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Executables
cbar
a.out

# Editor temporary files and backups
# Vim / Neovim
*.swp
*.swo
tags
compile_commands.json

# Nano
*.save

# Micro / Generic backups
*~
*.bak

# System files
.DS_Store
